<div class="container">
    {{#each this}}
  <div class="card">
    <div class="card-body">
      {{!-- <a href="/comments/{{id}}"> {{comment}}</a> --}}
     {{comment}} <br>
      - {{user.username}} on {{format_date created_at}}
    </div>
  </div>
   {{/each}}
</div>