<div class="container">
    <div class="card">
        <div class="card-header">
            <h3><a href="/posts/{{id}}">{{title}}</a></h3>
        </div>
        <div class="card-body">
            <h5>{{contents}}</h5>
            <br>Posted by {{user.username}} on {{format_date created_at}}
        </div>
    </div>
</div>