<div class="container welcome">
  <div class="col-auto">
    <h4>Welcome back, {{user.username}}!</h4>
  </div>
  <header>
    <h1><a href="/dashboard">Your Posts</a></h1>
  </header>
</div>

<div class="container">
  {{#each posts as |post|}}
<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h3><a href="/posts/{{id}}">{{post.title}}</a></h3> 
      <u><a href="dashboard/edit/{{post.id}}"> Edit Post</a></u>
    </div>
  </div>
  <div class="card-body">
    <h5>{{post.contents}}</h5>
    <br>Posted by {{user.username}} on {{format_date created_at}}
    
  </div>
</div>
{{/each}}
</div>

<div class="flex-container">
  <a href="/dashboard/newpost" class="btn-new-post btn-outline-dark btn-dark btn-lg px-5"><i class="fa-solid fa-plus"></i> New Post</a>
</div>