<div class="container">
  {{#each posts as |post|}}
<div class="card">
  <div class="card-header">
    <h3><a href="/posts/{{id}}">{{post.title}}</a></h3>
  </div>
  <div class="card-body">
    {{post.contents}}
    <br><br>Posted by {{user.username}} on {{format_date createdAt}}
  </div>
</div>
{{/each}}
</div>